<%- include("header") -%>

<h2>This is a heading</h2>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate autem esse obcaecati omnis enim? Sit ducimus, architecto beatae, nisi optio voluptates officia quas voluptatem ea ipsam unde magnam ad recusandae.

<%- include("footer") -%> 